/* Global Modal CSS */
.modal__background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal__child {
    position: relative;
    top: 51px;
    width: 100px;
    margin: 0 auto;
    background-color: #ffffff;
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); */
}

/* Activity Modal CSS */
.activity__modal {
    position: relative;
    top: 60px;
    margin: 0 auto;
    left: 200px;
    border: 1px solid rgba(156, 175, 183, 0.5);
    border-radius: 2px;
    width: 300px;
    z-index: 1;
    background-color: #ffffff;
}

.notification__item {
    padding: 10px 0px 10px 20px;
    border-bottom: 1px solid rgba(156, 175, 183, 0.5);
}

/* Account Modal CSS */
.account__modal {
    position: relative;
    top: 60px;
    left: 400px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid rgba(156, 175, 183, 0.5);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #ffffff;
}

.account__modal--item {
    margin: 10px 0px 0px 20px;
}

.account__modal--icon {
    position: relative;
    top: 2px;
}

.account__modal--logout {
    width: 100%;
    height: 20px;
    border-top: 1px solid grey;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}


/* Edit Profile Modal CSS */
.edit__modal--background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.edit__modal {
    position: relative;
    top: 400px;
    width: 300px;
    /* height: 300px; */
    margin: 0 auto;
    border: 1px solid rgba(156, 175, 183, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.edit__label {
    margin-bottom: 20px;
}

.edit__input {
    margin-left: 10px;
}

.edit__input--bio {
    border: 1px solid rgba(156, 175, 183, 0.5);
    padding: 5px;
}

.edit__modal--submit {
    margin: 10px auto 0px auto;
    padding: 10px 15px 10px 15px;
    background-color: rgba(156, 175, 183, 0.5);
    border-radius: 2px;
}


/* Post Settings CSS */
.postsettings__background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.postsettings__modal {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(156, 175, 183, 0.5);
    z-index: 4;
    background-color: white;
    border-radius: 4px;
}

.postsettings__profile {
    font-size: 20px;
    color: rgb(30, 30, 30);
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.postsettings__line {
    width: 100%;
    border-bottom: 1px solid rgba(156, 175, 183, 0.5);
}

.postsettings__delete {
    font-size: 20px;
    color: rgb(30, 30, 30);    
    text-align: center;
    margin: 20px 20px 20px 20px;
}