.nav__container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(156, 175, 183, 0.5);
    background-color: white;
    z-index: 2;
}

.nav__logo {
    font-size: 28px;
    font-weight: 600;
    margin: 0px 0px 0px auto;
    display: flex;
}

.nav__icon {
    width: 60px;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.nav__search--icon {
    position: relative;
    left: 80px;
}

.nav__search {
    border: 1px solid black;
    margin: 0px 50px 0px 50px;
    padding: 5px 0px 5px 30px;
}

.nav__menu {
    margin: 0px 0px 0px 20px;
}

.nav__account {
    margin: 0px auto 0px 0px;
}

#Path {
    fill: #000000;
}