.postpage__container {
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    border: 1px solid rgba(156, 175, 183, 0.7);
    margin-bottom: 50px;
    border-radius: 2px;
}

.postpage__namelocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__userpicname {
    display: flex;
    margin: 5px 0px 0px 5px;
}

.post__userpic {
    border: 1px solid rgba(156, 175, 183, 0.7);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.post__username {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px 0px 10px;
}

.postpage__location {
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
}

.postpage__setting {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.post__img {
    margin-top: 10px;
}

.postpage__numlikestyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.post__like {
    position: relative;
    padding: 5px;
}

.post__like:hover {
    filter: brightness(130%);
    transition: all 0.4s;
}

.postpage__numlikes {
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    position: relative;
    bottom: 1px;
}

.postpage__body--container {
    display: flex;
    /* margin-left: 10px; */
    padding: 5px 0px 5px 10px;
    /* justify-content: flex-end; */
}

.post__body--username {
    font-weight: 700;
    margin-right: 10px;
}

.post__body {
    text-align: right;
}

.comment__usercomment {
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
}

.comment__user {
    font-weight: 700;
}

.comment__comment {
    margin-left: 10px;
}

.post__comment {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(156, 175, 183, 0.7);
}

.post__comment--input {
    padding: 10px 0px 10px 10px;
    width: 100%;
}

.post__comment--post {
    color: blue;
    margin-right: 10px;
}