.postpage__wrapper {
    min-height: 77vh;
}

.postpage__container {
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    border: 1px solid rgba(156, 175, 183, 0.7);
    margin-bottom: 50px;
    border-radius: 2px;
}

.postpage__namelocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postpage__setting {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.postpage__img {
    margin-top: 10px;
}

.postpage__numlikestyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.postpage__numlikes {
    margin-left: 5px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    position: relative;
    bottom: 4px;
}

.postpage__locationdate {
    display: flex;
    flex-direction: column;
}

.postpage__location {
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}

.postpage__date {
    font-size: 12px;
    font-style: italic;
    color: rgb(100, 113, 119);
    text-align: right;
    margin-right: 10px;
}

.postpage__body--container {
    display: flex;
    padding: 5px 0px 5px 10px;
}

.postpage__body--username {
    font-weight: 700;
    margin-right: 10px;
}

.postpage__body {
    font-size: 15px;
}