/* Sign In CSS */
.signin__page {
    display: flex;
}

.signin__image--container {
    overflow: hidden;
    height: 100vh;
    width: 60vw;
    background-image: url("../assets/images/signinpageimage.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -450px 0px;
}

.signin__form {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin__header {
    font-size: 30px;
    position: relative;
    bottom: 50px;
}

.signin__email {
    border: 1px solid rgba(156, 175, 183, 0.7);
    border-radius: 2px;
    padding: 5px 0px 5px 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.signin__password {
    border: 1px solid rgba(156, 175, 183, 0.7);
    border-radius: 2px;
    padding: 5px 0px 5px 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.signin__button {
    background-color: rgba(156, 175, 183, 0.7);
    padding: 10px 37px 10px 37px;
    border-radius: 4px;
    margin-right: 20px;
}

.signin__demo {
    background-color: rgba(156, 175, 183, 0.7);
    padding: 10px 37px 10px 37px;
    border-radius: 4px;
    margin-left: 20px;
}

.signin__button:hover,
.signin__demo:hover {
    color: #ffffff;
}


/* Sign Up CSS */
.signup__page {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/signuppageimage.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.signup__form {
    display: flex;
    position: relative;
    left: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    padding: 40px;
}

.signup__header {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup__email {
    border: 1px solid rgba(156, 175, 183, 0.7);
    padding: 10px 0px 10px 0px;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}

.signup__name {
    border: 1px solid rgba(156, 175, 183, 0.7);
    padding: 10px 0px 10px 0px;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}

.signup__username {
    border: 1px solid rgba(156, 175, 183, 0.7);
    padding: 10px 0px 10px 0px;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}

.signup__password {
    border: 1px solid rgba(156, 175, 183, 0.7);
    padding: 10px 0px 10px 0px;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}

.signup__confirm {
    border: 1px solid rgba(156, 175, 183, 0.7);
    padding: 10px 0px 10px 0px;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
}

.signup__button {
    background-color: rgba(156, 175, 183, 0.7);
    margin-top: 10px;
    padding: 15px 92px 15px 92px;
    border-radius: 4px;
}

.signup__button:hover {
    color: #ffffff;
}