.upload__container {
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.upload__box {
    /* margin: 0 auto; */
    width: 500px;

}

.upload__thumbnail {
    margin: 0 auto;
}

.upload__button {
    background-color: blue;
    padding: 10px;
}