.upload__container {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: -1; */
}

.upload__input {
    position: relative;
    bottom: 155px;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* word-wrap: normal; */
}